#board {
    width:  100vmin;
    height: 100vmin;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: blue;
    border: .25vmin solid black;
}

.food {
    background-color: yellow;
    border: .25vmin solid black;
}

.start-btn {
    height: 100px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -100px;
    color: black;
    background-color: #56CCF2;
    border: 2px solid black;
    border-radius: .3em;
    font-weight: bold;
    font-size: 25px;
}

.start-btn:hover {
    background-color: #2D9CDB;
}
